<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32117">
        <setting label="32118" type="folder" id="managed_folder" source="auto" option="writeable"/>
        <setting label="32129" type="bool" id="use_show_artwork" default="false"/>
    </category>
    <category label="32130">
      <setting label="32131" type="action" action="RunScript(script.library.integration.tool, test)"/>
      <setting label="32132" type="action" action="RunScript(script.library.integration.tool, fuzz)"/>
    </category>
</settings>
